@model DadJokes
<div class="jokes-page">
    <h2>Random Dad Joke</h2>
    <div class="jokes-container">
        @if (Model != null && !string.IsNullOrEmpty(Model.Joke))
        {
                <p class="joke-text">@Model.Joke</p>
        }
        else
        {
                <p class="joke-text">Loading joke...</p>
        }
        <a href="@Url.Action("Index", "Jokes")" class="generate-joke-btn">Generate Joke</a>
    </div>
</div>