@{
    ViewData["Title"] = "Home Page";
}

@model InspMessage

<div class="inspo-container">
    <h2 class="inspo-text">Inspirational Quote</h2>
    <div class="inspo-card">
        <div class="inspo-carbody">
            @if (Model != null && !string.IsNullOrEmpty(Model.Message))
            {
                <p class="card-text fs-5">@Model.Message</p>
            }
            else
            {
                <p class="card-text text-center">Loading quote...</p>
            }
        </div>

        <div class="inspo-btn">
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Generate Quote</a> 
        </div>
    </div>
</div>
