@{
    ViewData["Title"] = "Name Generator";
}

<div class="container mt-5">
    <div class="row">
        <!-- Random Name Generator -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2>Random Name Generator</h2>
                    <button id="generateNameBtn" class="btn btn-primary">Generate Name</button>
                    <div id="nameResult" class="mt-3">
                        <h3><span id="firstName"></span> <span id="lastName"></span></h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Clan Name Generator -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2>Clan Name Generator</h2>
                    <button id="generateClanBtn" class="btn btn-primary">Generate Clan Name</button>
                    <div id="clanResult" class="mt-3">
                        <h3><span id="clanName"></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>